html,body{
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

*{
  margin:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.box-landscape{
  width:100%;
  position: relative;
  height: 50px;
  border:1px solid #ccc;
  font-size: 18px;
  color:#323232;
  line-height: 50px;
}

.botton{
  font-size: 16px;
  line-height: 40px;
  width: 100px;
  background-color:#ccc;
  display: inline-block;
  margin:10px 10px 10px;
  text-align: center;
}

.box-vertical{
  width:100%;
  height: 240px;
  border:1px solid #ccc;
  position: relative;
  font-size: 18px;
  color:#323232;
}

.type-title{
  font-size: 20px;
  color:#323232;
  font-weight: bold;
  padding:10px;
}