.react-marquee-box .marquee-vertical-wrap{
    width:100%;
    height:100%;
    overflow: hidden;
}

.react-marquee-box .marquee-vertical-wrap .marquee-vertical-item .marquee-vertical-txt{
    height: 60px;
    line-height: 60px;
}